---
import Layout from "../layouts/Layout.astro";
---

<section class="relative">
  <div class="relative inline-block w-full md:pt-20"> <!-- Ajusta el padding-top para controlar el aspecto -->
    <!-- Imagen para pantallas pequeñas (sm) -->
    <img
      src="sofi1web.webp"
      class="md:hidden relative top-0 left-0 w-full h-full object-cover object-center"
      alt="Quinceañera versión celular"
      style="height: 100vh;" 
    />
    <!-- Imagen para pantallas medianas (md) y más grandes -->
    <img
      src="sofi1web.webp"
      class="hidden md:block w-full max-w-screen"
      alt="Quinceañera versión web"
    />
  </div>
</section>

<section style="font-family: 'straight';">
  <p
    class="text-white md:mb-20 text-md md:text-[24px] lg:text-[35px] text-center py-20 px-6 leading-relaxed lg:leading-loose"
  >
  En compañía de mis padres:
  </p>
  <h2
  class="text-white text-[40px] md:text-[100px] lg:text-[120px] text-center"
  style="font-family: 'cursive';"
>
Laurens Escamilla Velázquez<br> & <br>
Ana Ivis León Álvarez
</h2>
</section>
<section style="font-family: 'straight';">
  <p
    class="text-white md:mb-20 text-md md:text-[24px] lg:text-[35px] text-center py-20 px-6 leading-relaxed lg:leading-loose"
  >
  Mis padrinos:
  </p>
  <h2
  class="text-white text-[40px] md:text-[100px] lg:text-[120px] text-center"
  style="font-family: 'cursive';"
>
Francisco Velázquez Hernández<br> & <br>
Amarilys Álvarez Yañez
</h2>
</section>


